Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea

# Unreal Engine Build Files
Build/Windows/FileOpenOrder/EditorOpenOrder.log
Build/Windows/FileOpenOrder/CookerOpenOrder.log